<form (ngSubmit)="tryRegister()" [formGroup]="form">
  <div class="form-group mx-sm-3 mb-2">
    <input type="text" class="form-control" formControlName="username" required="true" placeholder="Username">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <input type="email" class="form-control" formControlName="email" required="true" placeholder="Email">
  </div>
  <div class="form-group mx-sm-3 mb-2">
    <input type="password" class="form-control" formControlName="password" required="true" placeholder="Password">
  </div>

  <button type="submit" class="btn btn-primary" style="margin-left: 15px;" [disabled]="!!username().errors?.required ||
    !!email().errors?.required ">Register
  </button>
</form>
