<div class="deleteButton">
  <a class="btn btn-primary btn-lg active"
     style="margin-left: 50px; background-color: darkred;border-color: darkred;">Delete sheet</a>
</div>

<div style="margin-left: 20px;">
  <form [formGroup]="form" enctype="multipart/form-data" (ngSubmit)="submit()">
    <div class="form-row">
      <div class="col-7" style="margin-bottom: 20px;">
        <input type="text" class="form-control" formControlName="name" required="true" placeholder="Name">
      </div>
      <div class="col-7" style="margin-bottom: 20px;">
        <input type="number"  class="form-control" formControlName="bpm" required="true"  placeholder="Bpm" value="<%=note.bpm%>">
      </div>
      <div class="col-7" style="margin-bottom: 20px;">
        <input type="number"  class="form-control" formControlName="complexity" required="true" placeholder="Complexity" value="<%=note.complexity%>">
      </div>
      <div class="col-7" style="margin-bottom: 20px;">
        <input type="number"  class="form-control" formControlName="duration" required="true" placeholder="Duration" value="<%=note.duration%>">
      </div>
      <div class="col-7" style="margin-bottom: 20px;">
        <input type="text" class="form-control" formControlName="instrument" required="true"  placeholder="Instrument" value="<%=note.instrument%>">
      </div>
      <div class="col-7" style="margin-bottom: 20px;">
        <input type="text" class="form-control" formControlName="description" required="true" placeholder="Description" value="<%=note.description%>">
      </div>
      <div class="col-7" style="margin-bottom: 20px;">
        <input type="file" class="form-control" id="file" (change)="download($event)" name="sheet">
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="!!bpm().errors?.required">Add</button>
    </div>
  </form>
</div>
